@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/dune-rise');
@import url('https://fonts.cdnfonts.com/css/dahyu-personal-use');


:root{
    --cor--primaria: #000000;
    --cor--secundaria: #40403E;
    --cor-terciaria: #A69580;
    --cor-quaternaria: #0D0D0D;
    --cor--quinternaria: #343A40;
    --cor--resul: #A67246;
    --cor--sexta: #495057;

    --font--primaria: "Raleway", sans-serif;
    --font--secundaria: 'Dune Rise', sans-serif;
}

*{
    margin: 0px;
    padding: 0;
    font-family: var(--font--primaria);

}
body{
    background-color: var(--cor--primaria);
    overflow: hidden;
}
header{
    width: 100%;
    height: 60px;
}
.cabecalho{
    
}
.cabecalho__nome{
    font-family: var(--font--secundaria);
    color: var(--cor-terciaria);
    display: flex;
    justify-content:center;
    
}

.logo{
    width: 60px;
    height: 50px;
    padding-top: 20px;
    padding-left: 40px;
}
main{
    position: absolute;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    
}
.caixadetexto{
    position: absolute;
    left: 10%;
    top: 20%;
    padding-left: 100px;
    width: 40%;
    height: 60%;
    
}
.texto{
    width: 80%;
    height: 100%;
    border: none;
    background-color: var(--cor-quaternaria);
    cursor: pointer;
    color: var(--cor--resul);
    font-size: 24px;
    font-weight: 200;
    font-family: var(--font--secundaria);
    text-align: center;
    
}
.caixadetexto::placeholder{
    color: blueviolet;
}
.alerta{
    position: absolute;
    top: 750px;
    left: 370px;
    display: flex;
    color: var(--cor-terciaria);
}
.butoes{
    position: absolute;
    top: 640px;
    height: 80px;
    padding-left: 13%;
    padding-top: 0%;
    margin-bottom: 20px;
    z-index: 1;
}
.butoes__main__cod{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: var(--cor-terciaria);
    color: var(--cor--secundaria);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font--secundaria);
    border: 2px solid var(--cor--secundaria);
    margin-right: 20px;
    cursor: pointer;
}
.butoes__main__descod{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: var(--cor-terciaria);
    color: var(--cor--secundaria);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font--secundaria);
    border: 2px solid var(--cor--secundaria);
    cursor: pointer;
}
.segundasection{
    display: block;
    position: relative;
    width: 25%;
    height: 840px;
    right: 240px;
    padding-right: 20px;
    background-color: var(--cor-quaternaria);
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);
    margin-bottom: 20px;
    z-index: 0;
    top: 20%;

}
.segundasection__conteudo{
    position: absolute;
    left: 30px;
    top: 100px;
    box-sizing: border-box;
    padding-top: 50px;
}
.segundasection__conteudo__paragrafo h3{
    font-size: 18px;
    font-weight: 700;
    gap: 10px;
    font-family: var(--font--secundaria);
    text-align: center;
    color: var(--cor--quinternaria);
    margin-top: 20px;

}
.segundasection__conteudo__paragrafo p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: var(--cor--sexta);
    padding-top: 20px;
}
.contener-resultado{
    position: absolute;
    bottom: 330px;
    width: 320px;
    height: 450px;
    padding: 0;
    box-sizing: border-box;
    margin-left: 25px;
}
.contener-resultado p{
    color: var(--cor--resul);
    font-size: 25px;
    

}
.texto-resultado{
    font-family: var(--font--secundaria)
}
.segundasection__conteudo__copia{
    display: flex;
    position: absolute;
    bottom: 400px;
    top: 700px;
    background-color: var(--cor-quaternaria);
    padding-left: 40px;
}
.botaocopiar{
    width: 364px;
    height: 67px;
    border-radius: 24px;
    background-color: var(--cor-terciaria);
    color: var(--cor--secundaria);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font--secundaria);
    border: 1px solid var(--cor--secundaria);
    cursor: pointer;
    position: relative;
    top: 40%;
    right: 10%;
}
.ocultar{
    display: none;
}
.rodape{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--cor-terciaria);
    background-color: var(--cor--primaria);
    text-align: center;
    padding: 25px 0px;
    font-family: var(--font--secundaria);
    z-index: -1;
}
@media (max-width: 1020px){
    body {
        display: flex;
        flex-flow: row;
        justify-content: center;
        
    }
    .apresentacao{
        flex-direction: column;
        padding: 5%;
    }
}