@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/dune-rise');
@import url('https://fonts.cdnfonts.com/css/dahyu-personal-use');


:root{
    --cor--primaria: #000000;
    --cor--secundaria: #40403E;
    --cor-terciaria: #A69580;
    --cor-quaternaria: #0D0D0D;
    --cor--quinternaria: #343A40;
    --cor--resul: #A67246;
    --cor--sexta: #495057;

    --font--primaria: "Raleway", sans-serif;
    --font--secundaria: 'Dune Rise', sans-serif;
}

*{
    margin: 0px;
    padding: 0;
    font-family: var(--font--primaria);

}
body{
    background-color: var(--cor--primaria);
    
}
header{
    width: 100%;
    height: 60px;
}
.cabecalho{
    
}
.cabecalho__nome{
    font-family: var(--font--secundaria);
    color: var(--cor-terciaria);
    display: flex;
    justify-content:center;
    
}

.logo{
    width: 4%;
    height: 100%;
    padding-top: 1%;
    padding-left: 2%;
}
main{
    position: absolute;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    
}
.caixadetexto{
    position: absolute;
    left: 10%;
    top: 20%;
    padding-left: 5%;
    width: 40%;
    height: 60%;
    
}
.texto{
    width: 80%;
    height: 100%;
    border: none;
    background-color: var(--cor-quaternaria);
    cursor: pointer;
    color: var(--cor--resul);
    font-size: 1.25rem;
    font-weight: 200;
    font-family: var(--font--secundaria);
    text-align: center;
    
}
.caixadetexto::placeholder{
    color: blueviolet;
}
.alerta{
    position: absolute;
    top: 750px;
    left: 370px;
    display: flex;
    color: var(--cor-terciaria);
}
.butoes{
    position: absolute;
    top: 40rem;
    height: 5rem;
    padding-left: 13%;
    padding-top: 0%;
    margin-bottom: 10%;
    z-index: 1;
}
.butoes__main__cod{
    width: 20.5rem;
    height: 4.18rem;
    border-radius: 24px;
    background-color: var(--cor-terciaria);
    color: var(--cor--secundaria);
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font--secundaria);
    border: 2px solid var(--cor--secundaria);
    margin-right: 0%;
    cursor: pointer;
}
.butoes__main__descod{
    width: 20.5rem;
    height: 4.18rem;
    border-radius: 24px;
    background-color: var(--cor-terciaria);
    color: var(--cor--secundaria);
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font--secundaria);
    border: 2px solid var(--cor--secundaria);
    cursor: pointer;
}
.segundasection{
    display: block;
    position: relative;
    width: 25%;
    height: 100%;
    right: 11%;
    padding-right: 20px;
    background-color: var(--cor-quaternaria);
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);
    margin-bottom: 20%;
    z-index: 0;
    top: 20%;

}
.segundasection__conteudo{
    position: absolute;
    left: 15%;
    top: 10%;
    box-sizing: border-box;
    padding-top: 10%;
}
.segundasection__conteudo__paragrafo h3{
    font-size: 1.125rem;
    font-weight: 700;
    gap: 10%;
    font-family: var(--font--secundaria);
    text-align: center;
    color: var(--cor--quinternaria);
    margin-top: 20px;

}
.segundasection__conteudo__paragrafo p{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    color: var(--cor--sexta);
    padding-top: 10%;
}
.contener-resultado{
    position: absolute;
    bottom: 40%;
    width: 10%;
    height: 50%;
    padding: 0;
    box-sizing: border-box;
    margin-left: 5%;
}
.contener-resultado p{
    color: var(--cor--resul);
    font-size: 1rem;
    

}
.texto-resultado{
    font-family: var(--font--secundaria)
}
.segundasection__conteudo__copia{
    display: flex;
    position: absolute;
    bottom: 50%;
    top: 92%;
    background-color: var(--cor-quaternaria);
    padding-left: 10%;
}
.botaocopiar{
    width: 29.68rem;
    height: 67px;
    border-radius: 24px;
    background-color: var(--cor-terciaria);
    color: var(--cor--secundaria);
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font--secundaria);
    border: 1px solid var(--cor--secundaria);
    cursor: pointer;
    position: relative;
    top: 40%;
    right: 10%;
}
.ocultar{
    display: none;
}
.rodape{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--cor-terciaria);
    background-color: var(--cor--primaria);
    text-align: center;
    padding: 25px 0px;
    font-family: var(--font--secundaria);
    z-index: -1;
}
@media (max-width: 1300px){
    body {
        display: flex;
        flex-flow: row;
        justify-content: center;
        
    }
    .apresentacao{
        flex-direction: column;
        padding: 5%;
    }
    .butoes{
        
        top: 50rem;
        height: 5rem;
        padding-left: 13%;
        padding-top: 0%;
        margin-bottom: 20px;
        z-index: 1;
    }
    .butoes__main__cod,
    .butoes__main__descod{
        width: 10rem;
        
    }
    .segundasection{
        left: 250px;
        right: 0px;
        top: 80%;
    }
    .botaocopiar{
        width: 100%;
        height: 67px;
        display: flex;
        left: 50%;
    }
}